@import "bootstrap.less";

// ----- Custom replacement for Bootstrap styles -----
@primaryColor:              #B22234;
@complementaryColor:        #3C3B6E;
@complementaryColorLighter: darken(@complementaryColor, -15%);
@baseFontSize:              14px;
@baseLineHeight:            20px;
@sansSerifFont:             "calluna-sans";
@serifFont:                 "calluna";


body {background: @white url('/img/bg4.png') repeat left top;}
@navbarBackground: @complementaryColorLighter;
@navbarBackgroundHighlight: @complementaryColor;
.navbar-inner {
  padding: 10px 20px 10px 20px;
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  .border-radius(0px);
  .box-shadow(@shadow);
}
.navbar .container {
  width: 930px;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: @white;
  text-decoration: none;
  background-color: @navbarBackground;
  .border-radius(10px);
}

a.logo, a:hover.logo {font-family: @sansSerifFont; float: left;
                      font-size: 1.75em; color: @red;}
ul.nav li a.logo {color: @white;}

.navbar .nav > li {
  display: block;
  float: left;
  margin-left: 25px;
}

.navbar .nav > li > a {
  float: none;
  // Vertically center the text given @navbarHeight
  @elementHeight: 20px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 1) 10px ((@navbarHeight - @elementHeight) / 2 + 1);
  line-height: 19px;
  color: @white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}


.page-unit {
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 25px;
  background-color: @white;
  .border-radius(3px);
  .box-shadow(2px 2px 8px rgba(178,34,52,.75));
  h1 {
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 1;
    color: @complementaryColor;
    letter-spacing: -1px;
    font-family: @sansSerifFont;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.25;
    color: @heroUnitLeadColor;
    font-family: @serifFont;
  }
  a, a:hover {text-decoration: underline;}
  ul.post-list li {font-size: .8em;}
  ul.contributors {font-size: .9em;}
  .blog-post {margin-bottom: 40px;}
}


.footer {text-align: right; margin-bottom: 20px;}
.underline {text-decoration: underline;}
img {border: 2px solid @complementaryColor; border-radius: 4px;}
