<div class="container"> 
 <div class="row">
    <div class="span8">
      <h2>{{ article.title }}</h2>
      <a href="http://bit.ly/109Eaui"><img src="/img/coding-across-america-map.png" /></a>
      <br />
      <strong>Note</strong>: Google Maps only allows 25 destinations, so 
      this map shows 25 of 30 cities. 
      <a href="/cities.html">See all 30 cities</a>.
    </div>
    <div class="offset1 span3">
      <h3>What?</h3>
      <p>
        Coding Across America is a five month road trip to tell the stories 
        of software developers and entrepreneurs around the United States.
      </p>
      <h3>When?</h3>
      <p>
        I'm currently on the road! I have been traveling since March 9. I 
        will wrap up my trip on August 9, 2013.
      </p>
      <h3>Why?</h3>
      <p>
        To listen, learn through writing, and show there are fascinating 
        startup ecosystems all across the United States.
      </p>
      <h3>Learn More</h3>
    </div>
  </div>
</div>
