{% extends 'base.html' %}

{% block content %}
  {% if article.category == 'cities' %}
    {% include 'cities_list.html' %}
  {% elif article.post_type == 'pictures' %}
    {% include 'picture-post.html' %}
  {% elif article.category == 'pictures' %}
    {% include 'pictures.html' %}
  {% elif article.category == 'contact' %}
    {% include 'contact.html' %}
  {% elif article.category == 'startups' %}
    {% include 'startups.html' %}
  {% elif article.category == 'interviews' %}
    {% include 'interviews.html' %}
  {% elif article.category == 'coding_spots' %}
    {% include 'coding_spots.html' %}
  {% elif article.category == 'opinions' %}
    {% include 'opinions.html' %}
  {% elif article.category == 'tech_events' %}
    {% include 'tech_events.html' %}
  {% elif article.category == 'city' %}
    {% include 'city.html' %}
  {% elif article.category == 'contributors' %}
    {% include 'contributors.html' %}
  {% elif article.category == 'about' %}
    {% include 'about.html' %}
  {% elif article.category == 'blog' %}
    {% include 'blog.html' %}
  {% elif article.category == 'post' %}
    {% include 'blog-post.html' %}
  {% elif article %}
    {% include 'other.html' %}
  {% endif %}
{% endblock %}
