<!DOCTYPE html>
<html>
<head>
    <title>Coding Across America</title>
    <meta name="author" content="Matt Makai">
    <meta name="description" content="Coding Across America is a five month road trip to tell the stories about tech entrepreneurs building software in cities throughout the United States.">
    {% block css_head %}{% endblock %}
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->
  <script type="text/javascript">
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-19910497-6']);
      _gaq.push(['_trackPageview']);
      (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  </script>
</head>
<body>

    {% block content %}{% endblock %}
    {% block javascript_body %}{% endblock %}

</body>
</html>
