<div class="page-unit">
  <h1>{{ article.title }}</h1>
  <div class="row">
    <div class="span8">
      <hr/>
      {% for article in dates|reverse %}
        {% if article.category == 'post' %}
          <div class="blog-post">
            <h2><a href="{{ article.slug }}.html">{{ article.title }}</a></h2>
            {{ article.content|truncate(400) }} 
            (<a href="{{ article.slug }}.html">read more</a>)
            <div>
              Posted on {{ article.date.strftime('%m.%d.%Y') }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="span3">
      <hr/>
      <h3>Update Feeds</h3>
      {% include "feeds.html" %}
      <hr/>
      <h3>Posts By Date</h3>
      <ul class="post-list">
        {% for article in dates|reverse %}
          {% if article.category == 'post' %}
            <li><a href="{{ article.slug }}.html">{{ article.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
