<div class="container">
<h1>{{ article.title }}</h1>
  <div>
    By 
    <a href="http://www.mattmakai.com/pages/about.html">Matt Makai</a> on
    {{ article.date.strftime('%m.%d.%Y') }}. {% if article.tags %}Tags: {% for t in article.tags %}{% if not loop.first %}, {% endif %}{{ t.name }}{% endfor %}{% endif %}
  </div>
  <div class="row">
    <div class="col-md-10 article-font">
      {{ article.content }}
      <p>
      If you're interested in software development and learning more about tech startups, <a href="https://twitter.com/mattmakai">follow me on Twitter</a>.
      </p>
        <div id="disqus_thread" style="margin-top: 25px;"></div>
        <script type="text/javascript">
            var disqus_shortname = 'codingacrossamerica';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      <a href="/blog.html" class="btn btn-primary" style="text-decoration: none; margin-top: 20px;">View all stories</a>
    </div>
  </div>
</div>
