<div class="container">
<h1>{{ article.title }}</h1>
  <div>
    By 
    <a href="http://www.mattmakai.com/pages/about.html">Matt Makai</a>.
    {{ article.date.strftime('%m.%d.%Y') }}. {% if article.tags %}Tags: {% for t in article.tags %}{% if not loop.first %}, {% endif %}{{ t.name }}{% endfor %}{% endif %}
  </div>
  <div class="row">
    <div class="col-md-10 article-font">
      {{ article.content }}
      <p>
      If you're interested in software development and learning more about tech startups, <a href="https://twitter.com/mattmakai">follow me on Twitter</a>.
      </p>
    </div>
  </div>
</div>
