{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Map and Cities List</h1>
   
    <div id="map-container" style="width: 100%;"> </div>

    <hr/>
    
    <div class="row">
        <div class="col-md-12">
            <div style="margin: 20px 0 20px 0">
              <a href="http://bit.ly/109Eaui"><img src="/img/coding-across-america-map.png" width="100%"/></a>
              <br />
              <strong>Note</strong>: Google Maps only allows 25 destinations, so 
              this map shows 25 of 30 cities. 
            </div>
        
            <p>
                This is a list of the cities I visited during Coding Across 
                America. I also add pertinent news articles, stories, and 
                related material to each city page.
            </p>
        </div>
    </div>


    <div class="row">
      <div class="col-md-12">
          <div>
            <strong>Arrival Date</strong>
          </div>
          03.09.2013    &nbsp;&nbsp; <a href="/charlottesville-va.html">Charlottesville, VA</a><br>
          03.13.2013    &nbsp;&nbsp; <a href="/charlotte-nc.html">Charlotte, NC</a><br>
          03.17.2013    &nbsp;&nbsp; <a href="/new-orleans-la.html">New Orleans, LA</a><br>
          03.24.2013    &nbsp;&nbsp; <a href="/memphis-tn.html">Memphis, TN</a><br>
          03.28.2013    &nbsp;&nbsp; <a href="/dallas-tx.html">Dallas, TX</a><br>
          04.01.2013    &nbsp;&nbsp; <a href="/austin-tx.html">Austin, TX</a><br>
          04.07.2013    &nbsp;&nbsp; <a href="/lubbock-tx.html">Lubbock, TX</a><br>
          04.10.2013    &nbsp;&nbsp; <a href="/los-alamos-nm.html">Los Alamos, NM</a><br>
          04.12.2013    &nbsp;&nbsp; <a href="/moab-ut.html">Moab, UT</a><br>
          04.14.2013    &nbsp;&nbsp; <a href="/phoenix-az.html">Phoenix, AZ</a><br>
          04.18.2013    &nbsp;&nbsp; <a href="/san-diego-ca.html">San Diego, CA</a><br>
          04.28.2013    &nbsp;&nbsp; <a href="/las-vegas-nv.html">Las Vegas, NV</a><br>
          05.01.2013    &nbsp;&nbsp; <a href="/los-angeles-ca.html">Los Angeles, CA</a><br>
          05.09.2013    &nbsp;&nbsp; <a href="/san-francisco-ca.html">San Francisco, CA</a><br>
          05.17.2013    &nbsp;&nbsp; <a href="/eugene-or.html">Eugene, OR</a><br>
          05.21.2013    &nbsp;&nbsp; <a href="/portland-or.html">Portland, OR</a><br>
          05.29.2013    &nbsp;&nbsp; <a href="/seattle-wa.html">Seattle, WA</a><br>
          06.06.2013    &nbsp;&nbsp; <a href="/missoula-mt.html">Missoula, MT</a><br>
          06.09.2013    &nbsp;&nbsp; <a href="/buffalo-wy.html">Buffalo, WY</a><br>
          06.12.2013    &nbsp;&nbsp; <a href="/boulder-co.html">Boulder, CO</a><br>
          06.19.2013    &nbsp;&nbsp; <a href="/omaha-ne.html">Omaha, NE</a><br>
          06.22.2013    &nbsp;&nbsp; <a href="/des-moines-ia.html">Des Moines, IA</a><br>
          06.25.2013    &nbsp;&nbsp; <a href="/kansas-city-mo.html">Kansas City, MO</a><br>
          07.08.2013    &nbsp;&nbsp; <a href="/madison-wi.html">Madison, WI</a><br>
          07.14.2013    &nbsp;&nbsp; <a href="/chicago-il.html">Chicago, IL</a><br>
          07.21.2013    &nbsp;&nbsp; <a href="/detroit-mi.html">Detroit, MI</a><br>
          07.26.2013    &nbsp;&nbsp; <a href="/buffalo-ny.html">Buffalo, NY</a><br>
          07.29.2013    &nbsp;&nbsp; <a href="/boston-ma.html">Boston, MA</a><br>
          08.03.2013    &nbsp;&nbsp; <a href="/new-york-ny.html">New York, NY</a><br>
          08.09.2013    &nbsp;&nbsp; <a href="/washington-dc.html">Washington, DC</a><br>

          <h2>Learn More</h2>
          <p>
            See the <a href="/faq.html">frequently asked questions</a> page.
          </p>
      </div>
    </div>
</div>
{% endblock %}
