<div class="container">
  <h1>{{ article.title }}</h1>
  Arrival date: {{ article.date.strftime('%m.%d.%Y') }}
  <div class="row">
    <div class="col-md-8">
      <p>
        {{ article.content }}
      </p>
        <div id="disqus_thread" style="margin-top: 25px;"></div>
        <script type="text/javascript">
            var disqus_shortname = 'codingacrossamerica';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <div>
          <strong>All Cities</strong>
        </div>
       {% for article in dates|reverse %}
          {% if article.category == 'city' %}
            <div>
              <a href="/{{ article.slug }}.html">{{ article.title }}</a> 
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
