<div class="container">
  <h1>{{ article.title }}</h1>
  Arrival date: {{ article.date.strftime('%m.%d.%Y') }}
  <div class="row">
    <div class="col-md-8">
      <p>
        {{ article.content }}
      </p>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <div>
          <strong>All Cities</strong>
        </div>
       {% for article in dates|reverse %}
          {% if article.category == 'city' %}
            <div>
              <a href="/{{ article.slug }}.html">{{ article.title }}</a> 
            </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</div>
