  <h1>{{ article.title }}</h1>
  <div class="row">
    <div class="span8">
      <p>
        {{ article.content }}
      </p>
      {% for article in articles %}
        {% if article.category == 'contributor' %}
          <hr id="{{ article.slug }}"/>
          {{ article.content }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="offset1 span3">
      <h2>Contributors</h3>
      <ul class="contributors">
        {% for article in articles %}
          {% if article.category == 'contributor' %}
            <li>
              <a href="/contributors.html#{{ article.slug }}">{{ article.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
