<div class="container"> 
    <div class="row" style="padding: 40px 0 20px 0;">
        <div class="col-md-4">
            <img src="/img/matt-makai.jpg" style="border-radius: 4px;" width="100%"/>
        </div>
        <div class="col-md-offset-1 col-md-6">
            <h2 style="margin-top: 0px;">Matt Makai</h2>
            <h3>Full stack software developer</h3>
            <h2>&nbsp;</h2>
            <h3><a href="mailto:matthew.makai@gmail.com" class="contact-link">matthew.makai@gmail.com</a></h3>
            <h3>@<a href="https://twitter.com/mattmakai" class="contact-link">mattmakai</a> on Twitter</h3>
            <h3><a href="https://github.com/makaimc" class="contact-link">makaimc</a> on Github</h3>
            <h3><a href="http://www.mattmakai.com/" class="contact-link">Technical blog</a></h3>
        </div>
    </div>
</div>
