{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h2>Recent Blog Posts</h2>
      {% set post_count = 0 %}
      {% for article in dates %}
        {% if article.category == 'post' and post_count < 6 %}
          <div class="blog-post">
            <h3><a href="{{ article.slug }}.html">{{ article.title }}</a></h3>
            {% set post_count = post_count + 1 %}
            {{ article.content|truncate(400) }} 
            (<a href="{{ article.slug }}.html">read more</a>)
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="/blog.html">View more posts &raquo;</a>
      </div>
    </div>
    <div class="offset1 span3">
      <h3>Present Location</h3>
      <strong>
        <a href="../los-angeles-ca.html">Los Angeles, CA</a>
      </strong>
      <div>
          City #13. Day 60 of 152 (39%)
      </div>
      <hr/>
      <!--
      <div id="mc_embed_signup">
          <form action="http://mattmakai.us2.list-manage2.com/subscribe/post?u=b7e774f0c4f05dcebbfee183d&amp;id=58e7f1e2ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Email updates on software development and startups. No spam or advertisements ever.</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
      </div>
      <hr/>
      -->
      <h3>Updates</h3>
      {% include "feeds.html" %}
      <hr/>
      <h3>What?</h3>
      <p>
        Coding Across America is a five month road trip to tell the stories 
        of software developers and entrepreneurs around the United States.
      </p>
      <h3>When?</h3>
      <p>
        I'm currently on the road! I have been traveling since March 9. I 
        will wrap up my trip on August 9, 2013.
      </p>
      <h3>Why?</h3>
      <p>
        To listen, learn through writing, and show there are fascinating 
        startup ecosystems all across the United States.
      </p>
      <h3>Learn More</h3>
      <p>
        See <a href="../faq.html">frequently asked questions</a>.
      </p>
      <hr/>
      <div>
        <h3>Destinations</h3>
        {% for article in dates|reverse %}
          {% if article.category == 'city' %}
            <div>
              {{ article.date.strftime('%m.%d') }} 
              <a href="{{ article.slug }}.html">{{ article.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
