{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h2>Recent Blog Posts</h2>
      {% set post_count = 0 %}
      {% for article in dates %}
        {% if article.category == 'post' and post_count < 7 %}
          <div class="blog-post">
            <h3><a href="{{ article.slug }}.html">{{ article.title }}</a></h3>
            {% set post_count = post_count + 1 %}
            {{ article.content|truncate(350) }} 
            (<a href="{{ article.slug }}.html">read more</a>)
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="/blog.html">View more posts &raquo;</a>
      </div>
    </div>
    <div class="offset1 span3">
      <h3>Present Location</h3>
      <strong>
        <a href="../memphis-tn.html">Memphis, TN</a>
      </strong>
      <div>
        City #3. Day 15 of 152 (10%).
      </div>
      <hr/>
      <h3>Updates</h3>
      {% include "feeds.html" %}
      <hr/>
      <h3>What?</h3>
      <p>
        Coding Across America is a five month journey around the United States
        to learn and write about technology in thirty cities.
      </p>
      <h3>When?</h3>
      <p>
        I am traveling from March 9 to August 9, 2013.
      </p>
      <h3>Why?</h3>
      <p>
        To meet with and tell the stories of people solving interesting
        problems using software.
      </p>
      <h3>Learn More</h3>
      <p>
        See <a href="../faq.html">frequently asked questions</a>.
      </p>
      <hr/>
      <div>
        <h3>Destinations</h3>
        {% for article in dates|reverse %}
          {% if article.category == 'city' %}
            <div>
              {{ article.date.strftime('%m.%d') }} 
              <a href="{{ article.slug }}.html">{{ article.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
