{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h2>Miles Driven</h2>
      <div id="chart"></div>
      <h2>Recent Blog Posts</h2>
      {% set post_count = 0 %}
      {% for article in dates %}
        {% if article.category == 'post' and post_count < 6 %}
          <div class="blog-post">
            <h3><a href="{{ article.slug }}.html">{{ article.title }}</a></h3>
            {% set post_count = post_count + 1 %}
            {{ article.content|truncate(400) }} 
            (<a href="{{ article.slug }}.html">read more</a>)
          </div>
        {% endif %}
      {% endfor %}
      <div>
        <a href="/blog.html">View more posts &raquo;</a>
      </div>
    </div>
    <div class="offset1 span3">
      <h3>Present Location</h3>
      <strong>
        <a href="../san-francisco-ca.html">San Francisco, CA</a>
      </strong>
      <div>
          City #14. Day 70 of 152 (46%)
      </div>
      <hr/>
      <!--
      <div id="mc_embed_signup">
          <form action="http://mattmakai.us2.list-manage2.com/subscribe/post?u=b7e774f0c4f05dcebbfee183d&amp;id=58e7f1e2ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Email updates on software development and startups. No spam or advertisements ever.</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
      </div>
      <hr/>
      -->
      <h3>Updates</h3>
      {% include "feeds.html" %}
      <hr/>
      <h3>What?</h3>
      <p>
        Coding Across America is a five month road trip to tell the stories 
        of software developers and entrepreneurs around the United States.
      </p>
      <h3>When?</h3>
      <p>
        I'm currently on the road! I have been traveling since March 9. I 
        will wrap up my trip on August 9, 2013.
      </p>
      <h3>Why?</h3>
      <p>
        To listen, learn through writing, and show there are fascinating 
        startup ecosystems all across the United States.
      </p>
      <h3>Learn More</h3>
      <p>
        See <a href="../faq.html">frequently asked questions</a>.
      </p>
      <hr/>
      <div>
        <h3>Destinations</h3>
        {% for article in dates|reverse %}
          {% if article.category == 'city' %}
            <div>
              {{ article.date.strftime('%m.%d') }} 
              <a href="{{ article.slug }}.html">{{ article.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js_onready %}
    var containerWidth = $("#chart").width(),
        containerHeight = containerWidth * .8;

    var margin = {top: 10, right: 10, bottom: 30, left: 60},
        width = containerWidth - margin.left - margin.right,
        height = (containerHeight * .7) - margin.top - margin.bottom,
        maxDays = 152, maxMiles = 10500,
        lineWidth = width / maxDays;

    var x = d3.scale.linear()
        .domain([0, maxDays])
        .range([0, width]);

    var y = d3.scale.linear()
        .domain([0, maxMiles])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + 
            margin.top + ")");

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    function drawChart(data) {
        var total_bars = svg.selectAll("rect.total-miles")
            .data(data.driving)
                .enter()
            .append("rect")
                .attr("x", function(d) {return x(d.day) - lineWidth;})
                .attr("y", function(d) {return height;})
                .attr("width",lineWidth)
                .attr("class", "total-miles")
                .attr("height", function(d) {return 0;})
                .style("stroke","#406BB4")
                .style("fill","#F9A31A")
            .transition()
                .attr("y", function(d) {return y(d.total);})
                .attr("height", function(d) {return height - y(d.total);})
                .delay(function(d, i) {return (i * 50) + 250;})
                .duration(1200);

        var bars = svg.selectAll("rect.daily-miles")
            .data(data.driving)
                .enter()
            .append("rect")
                .attr("x", function(d) {return x(d.day) - lineWidth;})
                .attr("y", function(d) {return height;})
                .attr("class", "daily-miles")
                .attr("width",lineWidth)
                .attr("height", function(d) {return 0;})
                .style("stroke","black")
                .style("fill","#406BB4")
            .transition()
                .attr("y", function(d) {return y(d.miles);})
                .attr("height", function(d) {return height - y(d.miles);})
                .delay(function(d, i) {return (i * 50) + 250;})
                .duration(1200);
    }

    d3.json('/data/driving.json', drawChart);

{% endblock %}
