<div class="white-out" style="margin-top: 10px;">
    <div class="container">
        <div class="masthead">
            <div class="row">
              <div class="col-md-3">
                <h3 class="text-muted"><a href="/"><img src="../img/cam-logo-8.png" width="210" height="85"></a></h3>
              </div>
              <div class="col-md-9">
                <ul class="nav nav-justified">
                  <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Stories <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/startups.html">Startups</a></li>
                        <li><a href="/interviews.html">Interviews</a></li>
                        <li><a href="/pictures.html">Pictures</a></li>
                        <li><a href="/coding-spots.html">Coding Spots</a></li>
                        <li><a href="/tech-events.html">Tech Events</a></li>
                        <li><a href="/opinions.html">Opinions</a></li>
                        <li><a href="/blog.html">All Stories</a></li>
                      </ul>
                  </li>
                  <li {% if article and article.category == 'cities' %}class="active"{% endif %}><a href="/cities.html">Map</a></li>
                  <li {% if article and article.category == 'contributors' %}class="active"{% endif %}><a href="/contributors.html">Contributors</a></li>
                  <li {% if article and article.category == 'contact' %}class="active"{% endif %}><a href="/contact.html">Contact</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
