<div class="container wide-picture-container">
    <h1>{{ article.title }}</h1>
      <div>
        By 
        <a href="http://www.mattmakai.com/pages/about.html">Matt Makai</a> on
        {{ article.date.strftime('%m.%d.%Y') }}.
      </div>
          <hr/>
          <div class="big-picture">
              {{ article.content }}
          </div>

        <div class="row">
            <div class="col-md-8">
            <p>
          If you want to keep up with my trip, please <a href="https://twitter.com/mattmakai">follow me on Twitter</a>.
          </p>
          <a href="/pictures.html" class="btn btn-primary" style="text-decoration: none; margin-top: 20px;">View all picture posts</a>
       </div>
   </div>
</div>
